<div class="row">
  <div class="col-12 col-lg-6">
    <div class="kt-portlet kt-portlet--tab">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <span class="kt-portlet__head-icon kt-hide">
            <i class="la la-gear"></i>
          </span>
          <h3 class="kt-portlet__head-title">
            Angular QR code Scanner
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <zxing-scanner *ngIf="scannerEnabled" #scanner  [formats]="formatsEnabled" (scanSuccess)="scanSuccessHandler($event)">
        </zxing-scanner>
        <button (click)="enableScanner()" type="button" class="btn btn-success">Enable Scanner</button>
      </div>
    </div>
  </div>


</div>